.ProductItem {
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
  margin-bottom: 10px;
  width: 23%;
  height: 50%;
}
.tags {
  text-align: initial;
  font-weight: 400;
}
.tags > * {
  margin: 0px;
}
.price {
  text-align: initial;
}
i.fa-solid.fa-eraser {
  color: red;
}
p#company {
  font-weight: 600;
}

p#name {
  font-weight: 200;
}

p#details {
  font-size: smaller;
}
